<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    用户名:<input type="text" name="userName">
    密码:<input type="password" name="password">
    <button type="button" onclick="login()">登入</button>
</head>
<body>

</body>
</html>
<script type="text/javascript" src="../static/theme/AdminLTE/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="../static/vue/js/vue.js"></script>
<script>
    function login() {
        var userName = $("input[name='userName']").val();
        var password = $("input[name='password']").val();
        $.ajax({
            type:"post",
            url:"/test/testUser",
            data:{
                userName : userName,
                password : password
            },
            dataType:"JSON",
            success:function(data){

            }
        });

    }
</script>